
<div class="col-sm-12">
<div class="container" style="heght:100px"></div>
	<div class="container"
		style="min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; height: 100px; background-color: black; border-radius: 10px">

		<img
			style="height: 100px; padding: 24px 34px; border-radius: 5px; border: #FAEBD7"
			alt="Footer" src="<c:url value='/resources/images/ddn.PNG'/>">

		<a title="Facebook"
			href='https://www.facebook.com/ladamedenage.locquirec'
			style="color: #FF0000" target="_blank"><img
			style="height: 100px; padding: 34px 4%;" alt="Facebook"
			src="<c:url value='/resources/images/fbred.png'/>"></a> <a
			title="TripAdvisor"
			href='https://www.tripadvisor.fr/Restaurant_Review-g425019-d8452316-Reviews-La_dame_de_nage-Locquirec_Finistere_Brittany.html'
			style="color: #FF0000" target="_blank"><img
			style="height: 100px; padding: 34px 4%;" alt="Facebook"
			src="<c:url value='/resources/images/Tared.png'/>"></a> <label
			style="font-size: 16px; color: #FF0000; padding: 10px 4%;">Tel :
			09 86 26 25 25 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 06 10 95 54 05</label> <a title="Haut de page" href='' style="color: #FF0000"><img
			style="height: 100px; padding: 34px 4%;" alt="Haut de page"
			src="<c:url value='/resources/images/haut_page.png'/>"></a>
	</div>
</div>