

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
.menuItem {
	color: #FFFFFF;
	font-size: 20px !important; 
}

a:hover {
	color: #FF0000 !important;
	
}
.amenu{
	font-size: 20px !important;
}

#active {
	color: #FF0000
}
</style>
<script type="text/javascript">

</script>
</head>
<div class="container">
	<nav class="navbar navbar-inverse">
		<ul class="nav nav-pills">
			<li role="navbar-nav active"><a class="amenu" title="Voir toutes les offres"
				id="active" href="${pageContext.request.contextPath}/ddn/acceuil">Acceuil</a></li>
			<li role="navbar-nav"><a class="menuItem"
				href="${pageContext.request.contextPath}/ddn/carte">Notre carte</a></li>
			<li role="navbar-nav"><a class="menuItem"
				href="${pageContext.request.contextPath}/ddn/info">infos pratiques</a></li>
			<li role="navbar-nav"><a class="menuItem"
				href="${pageContext.request.contextPath}/user/formContact">Contact</a></li>
			<li role="navbar-nav"><a class="menuItem"
				href="${pageContext.request.contextPath}/admin/acceuil">Espace Administrateur</a></li>
		</ul>
	</nav>
</div>